In [1]:
import numpy as np
import pandas as pd
df = pd.read_csv("train.csv")
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [2]:
y = np.array(df["Survived"])
df = df[["Pclass", "Age", "Sex", "Fare"]]
df.isna().sum()
x = df["Age"]
x.dropna(inplace=True)
median = np.median(np.array(x))
df.replace(np.nan, median, inplace=True)
df.isna().sum()

/tmp/ipykernel_21540/4144058982.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x.dropna(inplace=True)
/tmp/ipykernel_21540/4144058982.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.replace(np.nan, median, inplace=True)

Pclass    0
Age       0
Sex       0
Fare      0
dtype: int64

In [3]:
df.replace(["male", "female"], [0, 1], inplace=True)
df

/tmp/ipykernel_21540/1635659731.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.replace(["male", "female"], [0, 1], inplace=True)

     Pclass   Age  Sex     Fare
0         3  22.0    0   7.2500
1         1  38.0    1  71.2833
2         3  26.0    1   7.9250
3         1  35.0    1  53.1000
4         3  35.0    0   8.0500
..      ...   ...  ...      ...
886       2  27.0    0  13.0000
887       1  19.0    1  30.0000
888       3  28.0    1  23.4500
889       1  26.0    0  30.0000
890       3  32.0    0   7.7500

[891 rows x 4 columns]

In [4]:
from sklearn.model_selection import train_test_split
df = np.array(df)
X_train, x_test, y_train, y_test = train_test_split(df, y, test_size=0.25, random_state=42)

In [5]:
from sklearn.model_selection import KFold, cross_val_score
from sklearn.naive_bayes import GaussianNB

nb_classifier = GaussianNB()
kf = KFold(n_splits=10, shuffle=True, random_state=42)


def kfoldmetrics(model):
    accuracy_scores = cross_val_score(
        model, X_train, y_train, cv=kf, scoring="accuracy"
    )
    for i, score in enumerate(accuracy_scores, 1):
        print(f"Fold {i}: Accuracy = {score:.4f}")

    # Print the average accuracy across all folds
    print(f"\nAverage Accuracy: {accuracy_scores.mean():.4f}")

kfoldmetrics(nb_classifier)

Fold 1: Accuracy = 0.8060
Fold 2: Accuracy = 0.7761
Fold 3: Accuracy = 0.8060
Fold 4: Accuracy = 0.8060
Fold 5: Accuracy = 0.7463
Fold 6: Accuracy = 0.8209
Fold 7: Accuracy = 0.7313
Fold 8: Accuracy = 0.8060
Fold 9: Accuracy = 0.6970
Fold 10: Accuracy = 0.7424

Average Accuracy: 0.7738

In [6]:
from sklearn.neighbors import KNeighborsClassifier

knn = KNeighborsClassifier(n_neighbors=5, p=2)
kfoldmetrics(knn)

Fold 1: Accuracy = 0.6866
Fold 2: Accuracy = 0.6866
Fold 3: Accuracy = 0.6716
Fold 4: Accuracy = 0.8209
Fold 5: Accuracy = 0.6866
Fold 6: Accuracy = 0.6418
Fold 7: Accuracy = 0.7015
Fold 8: Accuracy = 0.8060
Fold 9: Accuracy = 0.5758
Fold 10: Accuracy = 0.7424

Average Accuracy: 0.7020

In [7]:
from sklearn.linear_model import LogisticRegression

logisticReg = LogisticRegression()
kfoldmetrics(logisticReg)

Fold 1: Accuracy = 0.8060
Fold 2: Accuracy = 0.8358
Fold 3: Accuracy = 0.7910
Fold 4: Accuracy = 0.8209
Fold 5: Accuracy = 0.7612
Fold 6: Accuracy = 0.8657
Fold 7: Accuracy = 0.7761
Fold 8: Accuracy = 0.8060
Fold 9: Accuracy = 0.7879
Fold 10: Accuracy = 0.7273

Average Accuracy: 0.7978

In [8]:
# from sklearn.svm import SVC

# svm = SVC(kernel="linear")
# kfoldmetrics(svm)

In [9]:
from sklearn.ensemble import RandomForestClassifier

rf_classifier = RandomForestClassifier(
    n_estimators=100, max_features=4, random_state=42
)

kfoldmetrics(rf_classifier)

Fold 1: Accuracy = 0.8507
Fold 2: Accuracy = 0.7164
Fold 3: Accuracy = 0.8060
Fold 4: Accuracy = 0.8806
Fold 5: Accuracy = 0.8209
Fold 6: Accuracy = 0.7761
Fold 7: Accuracy = 0.7463
Fold 8: Accuracy = 0.9104
Fold 9: Accuracy = 0.6667
Fold 10: Accuracy = 0.7576

Average Accuracy: 0.7932

In [10]:
from sklearn.ensemble import BaggingClassifier
from sklearn.tree import DecisionTreeClassifier

dt_classifier = DecisionTreeClassifier(random_state=42)

# Create the Bagging classifier with 100 trees
bagging_classifier = BaggingClassifier(
    estimator=dt_classifier, n_estimators=100, random_state=42
)

kfoldmetrics(bagging_classifier)

Fold 1: Accuracy = 0.8507
Fold 2: Accuracy = 0.7313
Fold 3: Accuracy = 0.8209
Fold 4: Accuracy = 0.8806
Fold 5: Accuracy = 0.8209
Fold 6: Accuracy = 0.7910
Fold 7: Accuracy = 0.7612
Fold 8: Accuracy = 0.9104
Fold 9: Accuracy = 0.6667
Fold 10: Accuracy = 0.7727

Average Accuracy: 0.8007

In [11]:
from sklearn.ensemble import ExtraTreesClassifier

et_classifier = ExtraTreesClassifier(n_estimators=100, max_features=4, random_state=42)
kfoldmetrics(et_classifier)

Fold 1: Accuracy = 0.8060
Fold 2: Accuracy = 0.7313
Fold 3: Accuracy = 0.7910
Fold 4: Accuracy = 0.8358
Fold 5: Accuracy = 0.8358
Fold 6: Accuracy = 0.8060
Fold 7: Accuracy = 0.7612
Fold 8: Accuracy = 0.8955
Fold 9: Accuracy = 0.7576
Fold 10: Accuracy = 0.7879

Average Accuracy: 0.8008

In [12]:
from sklearn.ensemble import AdaBoostClassifier
from sklearn.tree import DecisionTreeClassifier

# Create the base Decision Tree classifier for AdaBoost
base_classifier = DecisionTreeClassifier(random_state=42)

# Create the AdaBoost classifier with 50 trees
adaboost_classifier = AdaBoostClassifier(
    base_classifier, n_estimators=50, random_state=42
)

kfoldmetrics(adaboost_classifier)

Fold 1: Accuracy = 0.7910
Fold 2: Accuracy = 0.7015
Fold 3: Accuracy = 0.7463
Fold 4: Accuracy = 0.8358
Fold 5: Accuracy = 0.7761
Fold 6: Accuracy = 0.7910
Fold 7: Accuracy = 0.7761
Fold 8: Accuracy = 0.8507
Fold 9: Accuracy = 0.7121
Fold 10: Accuracy = 0.8182

Average Accuracy: 0.7799

In [13]:
from sklearn.ensemble import GradientBoostingClassifier

gb_classifier = GradientBoostingClassifier(n_estimators=50, random_state=42)

kfoldmetrics(gb_classifier)

Fold 1: Accuracy = 0.8209
Fold 2: Accuracy = 0.8060
Fold 3: Accuracy = 0.8060
Fold 4: Accuracy = 0.8657
Fold 5: Accuracy = 0.8657
Fold 6: Accuracy = 0.8657
Fold 7: Accuracy = 0.8209
Fold 8: Accuracy = 0.8806
Fold 9: Accuracy = 0.7424
Fold 10: Accuracy = 0.7727

Average Accuracy: 0.8246

In [14]:
from sklearn.ensemble import VotingClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import SVC
from sklearn.naive_bayes import GaussianNB
from sklearn.neighbors import KNeighborsClassifier

logreg_classifier = LogisticRegression()
dt_classifier = DecisionTreeClassifier(random_state=42)
svm_classifier = SVC(probability=True)  # Set probability=True for soft voting
nb_classifier = GaussianNB()
knn_classifier = KNeighborsClassifier(n_neighbors=5, p=2)


ensemble_classifier = VotingClassifier(
    estimators=[
        ("logreg", logreg_classifier),
        ("dt", dt_classifier),
        ("svm", svm_classifier),
        ("nb", nb_classifier),
        ("knn", knn_classifier),
    ],
    voting="soft",
    weights=[1, 2, 1, 2, 3],
)

kfoldmetrics(ensemble_classifier)

Fold 1: Accuracy = 0.8209
Fold 2: Accuracy = 0.7612
Fold 3: Accuracy = 0.8209
Fold 4: Accuracy = 0.8955
Fold 5: Accuracy = 0.8209
Fold 6: Accuracy = 0.8507
Fold 7: Accuracy = 0.7910
Fold 8: Accuracy = 0.9254
Fold 9: Accuracy = 0.7273
Fold 10: Accuracy = 0.8030

Average Accuracy: 0.8217

In [15]:
df = pd.read_csv("bank.csv")
df

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,unemployed,married,primary,no,1787,no,no,cellular,19,oct,79,1,-1,0,unknown,no
1,33,services,married,secondary,no,4789,yes,yes,cellular,11,may,220,1,339,4,failure,no
2,35,management,single,tertiary,no,1350,yes,no,cellular,16,apr,185,1,330,1,failure,no
3,30,management,married,tertiary,no,1476,yes,yes,unknown,3,jun,199,4,-1,0,unknown,no
4,59,blue-collar,married,secondary,no,0,yes,no,unknown,5,may,226,1,-1,0,unknown,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4516,33,services,married,secondary,no,-333,yes,no,cellular,30,jul,329,5,-1,0,unknown,no
4517,57,self-employed,married,tertiary,yes,-3313,yes,yes,unknown,9,may,153,1,-1,0,unknown,no
4518,57,technician,married,secondary,no,295,no,no,cellular,19,aug,151,11,-1,0,unknown,no
4519,28,blue-collar,married,secondary,no,1137,no,no,cellular,6,feb,129,4,211,3,other,no
4520,44,entrepreneur,single,tertiary,no,1136,yes,yes,cellular,3,apr,345,2,249,7,other,no

In [16]:
y = df["y"]
df.drop("y", axis=1, inplace=True)
df.isna().sum()

age          0
job          0
marital      0
education    0
default      0
balance      0
housing      0
loan         0
contact      0
day          0
month        0
duration     0
campaign     0
pdays        0
previous     0
poutcome     0
dtype: int64

In [17]:
df.value_counts()

age  job          marital  education  default  balance  housing  loan  contact   day  month  duration  campaign  pdays  previous  poutcome
19   student      single   primary    no        103     no       no    cellular  10   jul    104       2         -1     0         unknown     1
45   services     single   secondary  no        1757    yes      no    cellular  20   apr    1010      3          326   1         other       1
     technician   married  secondary  no        88      no       no    cellular  29   aug    150       2         -1     0         unknown     1
                                                49      no       no    cellular  29   jul    65        2         -1     0         unknown     1
                                               -149     yes      no    cellular  14   jul    287       2         -1     0         unknown     1
                                                                                                                                             ..
35   blue-collar  married  secondary  no        305     yes      no    cellular  18   may    7         7          367   25        failure     1
                                                407     yes      no    cellular  20   apr    12        6         -1     0         unknown     1
                                                444     yes      no    cellular  15   apr    244       3         -1     0         unknown     1
                                                603     yes      no    cellular  17   apr    474       2         -1     0         unknown     1
87   retired      married  primary    no        230     no       no    cellular  30   oct    144       1         -1     0         unknown     1
Name: count, Length: 4521, dtype: int64

In [18]:
df.replace(["yes", "no"], [1, 0], inplace=True)
df_encoded = pd.get_dummies(df, columns=["job", "marital", "education", "contact", "poutcome"])
df_encoded

,age,default,balance,housing,loan,day,month,duration,campaign,pdays,...,education_secondary,education_tertiary,education_unknown,contact_cellular,contact_telephone,contact_unknown,poutcome_failure,poutcome_other,poutcome_success,poutcome_unknown
0,30,0,1787,0,0,19,oct,79,1,-1,...,False,False,False,True,False,False,False,False,False,True
1,33,0,4789,1,1,11,may,220,1,339,...,True,False,False,True,False,False,True,False,False,False
2,35,0,1350,1,0,16,apr,185,1,330,...,False,True,False,True,False,False,True,False,False,False
3,30,0,1476,1,1,3,jun,199,4,-1,...,False,True,False,False,False,True,False,False,False,True
4,59,0,0,1,0,5,may,226,1,-1,...,True,False,False,False,False,True,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4516,33,0,-333,1,0,30,jul,329,5,-1,...,True,False,False,True,False,False,False,False,False,True
4517,57,1,-3313,1,1,9,may,153,1,-1,...,False,True,False,False,False,True,False,False,False,True
4518,57,0,295,0,0,19,aug,151,11,-1,...,True,False,False,True,False,False,False,False,False,True
4519,28,0,1137,0,0,6,feb,129,4,211,...,True,False,False,True,False,False,False,True,False,False
4520,44,0,1136,1,1,3,apr,345,2,249,...,False,True,False,True,False,False,False,True,False,False

In [19]:
df_encoded.replace(["False", "True"], [0, 1], inplace=True)
month_dict = {
    "jan": 1,
    "feb": 2,
    "mar": 3,
    "apr": 4,
    "may": 5,
    "jun": 6,
    "jul": 7,
    "aug": 8,
    "sep": 9,
    "oct": 10,
    "nov": 11,
    "dec": 12,
}


df_encoded.replace(month_dict, inplace=True)
y.replace(["yes", "no"], [1, 0], inplace=True)
y

0       0
1       0
2       0
3       0
4       0
       ..
4516    0
4517    0
4518    0
4519    0
4520    0
Name: y, Length: 4521, dtype: int64

In [20]:
xtrain, xtest, ytrain, ytest = train_test_split(df_encoded, y, test_size=0.25, random_state=42)
print(xtrain.shape, xtest.shape, ytrain.shape, ytest.shape)

(3390, 37) (1131, 37) (3390,) (1131,)

In [21]:
def kfoldmetrics1(model):
    accuracy_scores = cross_val_score(
        model, xtrain, ytrain, cv=kf, scoring="accuracy"
    )
    for i, score in enumerate(accuracy_scores, 1):
        print(f"Fold {i}: Accuracy = {score:.4f}")

    # Print the average accuracy across all folds
    print(f"\nAverage Accuracy: {accuracy_scores.mean():.4f}")

In [22]:
from sklearn.naive_bayes import GaussianNB
nb_classifier = GaussianNB()
kfoldmetrics1(nb_classifier)

Fold 1: Accuracy = 0.7994
Fold 2: Accuracy = 0.7876
Fold 3: Accuracy = 0.8142
Fold 4: Accuracy = 0.8142
Fold 5: Accuracy = 0.8112
Fold 6: Accuracy = 0.8142
Fold 7: Accuracy = 0.8378
Fold 8: Accuracy = 0.8319
Fold 9: Accuracy = 0.8584
Fold 10: Accuracy = 0.8319

Average Accuracy: 0.8201

In [23]:
from sklearn.neighbors import KNeighborsClassifier

knn = KNeighborsClassifier(n_neighbors=5, p=2)

kfoldmetrics1(knn)

Fold 1: Accuracy = 0.8643
Fold 2: Accuracy = 0.8732
Fold 3: Accuracy = 0.8879
Fold 4: Accuracy = 0.8673
Fold 5: Accuracy = 0.8496
Fold 6: Accuracy = 0.9086
Fold 7: Accuracy = 0.8614
Fold 8: Accuracy = 0.8909
Fold 9: Accuracy = 0.8555
Fold 10: Accuracy = 0.8673

Average Accuracy: 0.8726

In [24]:
from sklearn.linear_model import LogisticRegression

logReg = LogisticRegression()

kfoldmetrics1(logReg)

Fold 1: Accuracy = 0.8673
Fold 2: Accuracy = 0.8673
Fold 3: Accuracy = 0.8850
Fold 4: Accuracy = 0.8879
Fold 5: Accuracy = 0.8879
Fold 6: Accuracy = 0.8968
Fold 7: Accuracy = 0.8761
Fold 8: Accuracy = 0.9115
Fold 9: Accuracy = 0.8879
Fold 10: Accuracy = 0.8820

Average Accuracy: 0.8850

/home/shusrith/.local/lib/python3.11/site-packages/sklearn/linear_model/_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
/home/shusrith/.local/lib/python3.11/site-packages/sklearn/linear_model/_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
/home/shusrith/.local/lib/python3.11/site-packages/sklearn/linear_model/_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
/home/shusrith/.local/lib/python3.11/site-packages/sklearn/linear_model/_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
/home/shusrith/.local/lib/python3.11/site-packages/sklearn/linear_model/_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
/home/shusrith/.local/lib/python3.11/site-packages/sklearn/linear_model/_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
/home/shusrith/.local/lib/python3.11/site-packages/sklearn/linear_model/_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
/home/shusrith/.local/lib/python3.11/site-packages/sklearn/linear_model/_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
/home/shusrith/.local/lib/python3.11/site-packages/sklearn/linear_model/_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
/home/shusrith/.local/lib/python3.11/site-packages/sklearn/linear_model/_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [25]:
from sklearn.tree import DecisionTreeClassifier

dt = DecisionTreeClassifier()
kfoldmetrics1(dt)

Fold 1: Accuracy = 0.8466
Fold 2: Accuracy = 0.8643
Fold 3: Accuracy = 0.8555
Fold 4: Accuracy = 0.8820
Fold 5: Accuracy = 0.8555
Fold 6: Accuracy = 0.8791
Fold 7: Accuracy = 0.8496
Fold 8: Accuracy = 0.8791
Fold 9: Accuracy = 0.8555
Fold 10: Accuracy = 0.8643

Average Accuracy: 0.8631

In [26]:
# from sklearn.svm import SVC

# svm = SVC(kernel="linear")
# kfoldmetrics1(svm)

In [27]:
from sklearn.ensemble import RandomForestClassifier

rf_classifier = RandomForestClassifier(n_estimators=100, max_features=7, random_state=42)
kfoldmetrics1(rf_classifier)

Fold 1: Accuracy = 0.8702
Fold 2: Accuracy = 0.8761
Fold 3: Accuracy = 0.8673
Fold 4: Accuracy = 0.8997
Fold 5: Accuracy = 0.8850
Fold 6: Accuracy = 0.9233
Fold 7: Accuracy = 0.8791
Fold 8: Accuracy = 0.9233
Fold 9: Accuracy = 0.8909
Fold 10: Accuracy = 0.9086

Average Accuracy: 0.8923

In [28]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import BaggingClassifier

dt = DecisionTreeClassifier(random_state=42)
bagging_classifier = BaggingClassifier(estimator=dt, n_estimators=100, random_state=42)
kfoldmetrics1(bagging_classifier)

Fold 1: Accuracy = 0.8761
Fold 2: Accuracy = 0.8850
Fold 3: Accuracy = 0.8761
Fold 4: Accuracy = 0.9115
Fold 5: Accuracy = 0.8761
Fold 6: Accuracy = 0.9204
Fold 7: Accuracy = 0.8761
Fold 8: Accuracy = 0.9145
Fold 9: Accuracy = 0.8968
Fold 10: Accuracy = 0.9056

Average Accuracy: 0.8938

In [29]:
from sklearn.ensemble import ExtraTreesClassifier

et_classifier = ExtraTreesClassifier(n_estimators=100, max_features=7, random_state=42)
kfoldmetrics1(et_classifier)

Fold 1: Accuracy = 0.8732
Fold 2: Accuracy = 0.8850
Fold 3: Accuracy = 0.8791
Fold 4: Accuracy = 0.8850
Fold 5: Accuracy = 0.8820
Fold 6: Accuracy = 0.9204
Fold 7: Accuracy = 0.8879
Fold 8: Accuracy = 0.9204
Fold 9: Accuracy = 0.8938
Fold 10: Accuracy = 0.8997

Average Accuracy: 0.8926

In [30]:
from sklearn.ensemble import AdaBoostClassifier
from sklearn.tree import DecisionTreeClassifier

base_classifier = DecisionTreeClassifier(random_state=42)

# Create the AdaBoost classifier with 50 trees
adaboost_classifier = AdaBoostClassifier(
    base_classifier, n_estimators=50, random_state=42
)

kfoldmetrics1(adaboost_classifier)

Fold 1: Accuracy = 0.8496
Fold 2: Accuracy = 0.8614
Fold 3: Accuracy = 0.8525
Fold 4: Accuracy = 0.8850
Fold 5: Accuracy = 0.8614
Fold 6: Accuracy = 0.8761
Fold 7: Accuracy = 0.8496
Fold 8: Accuracy = 0.8791
Fold 9: Accuracy = 0.8496
Fold 10: Accuracy = 0.8879

Average Accuracy: 0.8652

In [31]:
from sklearn.ensemble import GradientBoostingClassifier

gb = GradientBoostingClassifier(n_estimators=50, random_state=42)
kfoldmetrics1(gb)

Fold 1: Accuracy = 0.8732
Fold 2: Accuracy = 0.8879
Fold 3: Accuracy = 0.8909
Fold 4: Accuracy = 0.8968
Fold 5: Accuracy = 0.8820
Fold 6: Accuracy = 0.9233
Fold 7: Accuracy = 0.8850
Fold 8: Accuracy = 0.9292
Fold 9: Accuracy = 0.8938
Fold 10: Accuracy = 0.9027

Average Accuracy: 0.8965

In [32]:
from sklearn.ensemble import VotingClassifier

logReg = LogisticRegression()
dt = DecisionTreeClassifier()
svm = SVC(probability=True)
nb = GaussianNB()
knn = KNeighborsClassifier(n_neighbors=5, p=2)

ensemble_classifier = VotingClassifier(
    estimators=[("logReg", logReg), ("dt", dt), ("svm", svm), ("nb", nb), ("knn", knn)],
    voting="soft",
    weights=[1, 2, 1, 2, 3],
)

kfoldmetrics1(ensemble_classifier)

/home/shusrith/.local/lib/python3.11/site-packages/sklearn/linear_model/_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
/home/shusrith/.local/lib/python3.11/site-packages/sklearn/linear_model/_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
/home/shusrith/.local/lib/python3.11/site-packages/sklearn/linear_model/_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
/home/shusrith/.local/lib/python3.11/site-packages/sklearn/linear_model/_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
/home/shusrith/.local/lib/python3.11/site-packages/sklearn/linear_model/_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
/home/shusrith/.local/lib/python3.11/site-packages/sklearn/linear_model/_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
/home/shusrith/.local/lib/python3.11/site-packages/sklearn/linear_model/_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
/home/shusrith/.local/lib/python3.11/site-packages/sklearn/linear_model/_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
/home/shusrith/.local/lib/python3.11/site-packages/sklearn/linear_model/_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
/home/shusrith/.local/lib/python3.11/site-packages/sklearn/linear_model/_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

Fold 1: Accuracy = 0.8702
Fold 2: Accuracy = 0.8850
Fold 3: Accuracy = 0.8968
Fold 4: Accuracy = 0.9086
Fold 5: Accuracy = 0.8702
Fold 6: Accuracy = 0.9115
Fold 7: Accuracy = 0.8879
Fold 8: Accuracy = 0.9263
Fold 9: Accuracy = 0.8938
Fold 10: Accuracy = 0.8909

Average Accuracy: 0.8941